.navbar {
    background-color: #6610f2 !important;
}

.btn-primary {
    background-color: #6610f2 !important;
}

.btn-primary:hover {
    background-color: #5605da !important;
}

.btn-primary:active {
    background-color: #4e06c2 !important;
}

.btn-light {
    color: #6610f2 !important;
}

.btn-warning {
    background-color: white !important;
}

.btn-warning:hover {
    background-color: #d3d4d5 !important;
}

.btn-warning:active {
    background-color: #bbbcbd !important;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1;
    /* Firefox */
    color: #6c757d;

}

.add-btn:hover img {
    filter: brightness(0.1) !important;
}

input::placeholder {
    color: red;
    /* Change placeholder color to red */
}

.btn-outline-light:hover{
    color: black  !important;
}

#questionform-div{
    display: block;
}

.access-div:hover{
    background-color: #f8f8f8;
    border-radius: 5px;
}


.dropdown-toggle-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem; /* Adjust as needed */
}

.transparent-btn{
    background-color: transparent !important;
    color:  #212529 !important;
}

.access-option:focus {
    outline: none;
    box-shadow: none; /* Optional: Removes any box shadow */
}

.access-option:hover {
    background-color: #d6d6d6;
}

.my-quiz:hover{
    background-color:rgba(0, 0, 0,0.3) !important;
}

.image-container {
    width: 125px; /* Set the width of the container */
    height: 70.31px; /* Calculate the height based on a 16:9 aspect ratio */
    background-size: cover;
    background-position: center;
}

.copy-btn{
    color: black !important;
}


 