@font-face {
    font-family: 'RobotoLight';
    src: url('../img/fonts/Roboto-Light.ttf') format('truetype');
    /* Add additional src lines for different font styles (e.g., bold, italic) */
}

@font-face {
    font-family: 'MoonBold';
    src: url('../img/fonts/Moon\ Bold.otf') format('opentype');
}

@font-face {
    font-family: 'MoonLight';
    src: url('../img/fonts/Moon\ Light.otf') format('opentype');
}


.img-shadow{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4)); /* Adjust the shadow color and size as needed */
    
}

.bg-dark-blue{
    background-color: #003049;
}

.bg-orange{
    background-color: #fcbf49;
}

.text-orange{
    color: #f77f00;
}

.btn-primary {
    background-color: #fcbf49;
    color: white !important;
    border: none;
    box-shadow: 0px 5px 0px 0px rgb(234, 148, 36);
    border-radius: 16px;
    transition: box-shadow 0.3s ease;
    font-family: 'MoonBold', sans-serif;
    /* Add transition for smooth effect */
}
.btn-primary:hover {
    background-color: #f77f00;
    box-shadow: none;
    /* Remove box shadow on hover */
}

.btn-primary:active {
    background-color: #003049 !important;
    /* Remove box shadow on hover */
}

.btn-danger {
    background-color: #dc3545;
    color: white !important;
    border: none;
    box-shadow: 0px 5px 0px 0px rgb(185, 29, 45);
    border-radius: 16px;
    transition: box-shadow 0.3s ease;
    font-family: 'MoonBold', sans-serif;
    /* Add transition for smooth effect */
}
.btn-danger:hover {
    background-color: #a51b29;
    box-shadow: none;  
    /* Remove box shadow on hover */
}

.btn-danger:active {
    background-color: #003049 !important;
    /* Remove box shadow on hover */
}

.rounded{
    border-radius: 16px !important;
}

.btn-info{
    background-color: #003049 !important;
    color: white !important;
    border: none;
    box-shadow: 0px 5px 0px 0px rgb(2, 24, 36);
    border-radius: 16px;
    transition: box-shadow 0.3s ease;
    font-family: 'MoonBold', sans-serif;
}

.btn-info:hover {
    background-color: #003049;
    box-shadow: none;
    /* Remove box shadow on hover */
}

.btn-info:active {
    background-color: #031a27 !important;
}


.font-moon-bold {
    font-family: 'MoonBold', serif;
}

.font-roboto-light{
    font-family: 'RobotoLight', sans-serif;
}

.navbar-light {
    color: #212121;
}

.bg-light {
    background-color: #FFFFFF !important;
}

.nav-shadow {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    /* Change the opacity value as needed */
}

.btn-light {
    color: #6610f2 !important;
}

.btn-warning {
    background-color: white !important;
}

.btn-warning:hover {
    background-color: #d3d4d5 !important;
}

.btn-warning:active {
    background-color: #bbbcbd !important;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1;
    /* Firefox */
    color: #6c757d;

}

/* .add-btn:hover img {
    filter: brightness(0.1) !important;
} */

input::placeholder {
    color: red;
    /* Change placeholder color to red */
}

.btn-outline-light:hover {
    color: black !important;
}

#questionform-div {
    display: block;
}

.access-div:hover {
    background-color: #f8f8f8;
    border-radius: 5px;
}


.dropdown-toggle-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    /* Adjust as needed */
}

.transparent-btn {
    background-color: transparent !important;
    color: #212529 !important;
}

.access-option:focus {
    outline: none;
    box-shadow: none;
    /* Optional: Removes any box shadow */
}

.access-option:hover {
    background-color: #d6d6d6;
}

.my-quiz:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.image-container {
    width: 125px;
    height: 70.31px;
    background-size: cover;
    background-position: center;
    transition: all .2s;
}

.copy-btn {
    color: black !important;
}

.text-bg-primary {
    background-color: #6610f2 !important;
}